# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# angular specific
.angular
.angular-cli.json
.idea
.vscode
.sublime-project
.sublime-workspace
*.sublime-*
*.code-workspace

# local env files
.env.local
.env.*.local

# Log files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
Thumbs.db
ehthumbs.db

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.sublime-project
*.code-workspace

# Temporary files
tmp/
temp/